<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <title>Person Page</title>
</head>

<body>
    <center>
        <h1> List of Persons</h1>
    </center>

    <div bgcolor="green">
        <form>
         <select>
             <option value="All" selected>All</option>
             <option value='True'>True</option>
             <option value='False'>False</option>
         </select>&nbsp;&nbsp;&nbsp;
         <button type='sumbit' style="background-color:rgb(71, 80, 202);">Filter</button>
         </form>
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col">Sl.no.</th>
                <th scope="col">Full Name</th>
                <th scope="col">gender</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Salary</th>
                <th scope="col">Verified</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{person.first_name}} {{person.last_name}}</td>
                <td>{{person.gender}} </td>
                <td>{{person.age}} </td>
                <td>{{person.email}} </td>
                <td>{{person.salary}}</td>
                <td>{{person.is_verify}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   

    
</body>

</html>