{% extends 'base.html'%} 

<!-- title -->
{% block title %} SCHOOL: Home Page {% endblock %}

{% block head %}<h1>Welcome to HOME Page</h1>{% endblock %}
<!-- Body content -->
{% block content %}
    <center><h1 style="color: brown;"> School</h1>
    <p style="color: rgb(30, 6, 136); font-size: 25px;">

        You can teach a student a lesson for a day;but if you can teach him to learn by creating curiosity , he will continue the learning process as long as he lives
    
    </p></center><br><br>
    <center><h1 style="color: rgb(80, 6, 114);"><u>Admission</u></h1></center>
<p style="color: rgb(3, 2, 8); font-size: 20px;">


Go to the website www.davbariatu.org<br><br>

- Go to ONLINE APPLICATION FORM FOR LKG to CLASS 12 admission 2021-22.<br>
- Enter your Child’s Name, Date of Birth & Place (Exactly as it is in Birth Certificate)
   and all other fields including the Aadhaar Number (ALL IN CAPITAL LETTERS).<br>
   Requests for any change in Date of birth, after the entry, will never be accepted by the school in future.

- After entering all details of a candidate, submit the form, then you will automatically get the reply in the given email provided.<br>
- Candidates who submit applications online will be called for entrance exam ONLY IF VACANCY ARISES IN ANY CLASS.<br>

- There is no need of any recommendation from anyone. Parents are advised not to get cheated by anyone.<br>

        
</p>
{% endblock %}