{% extends 'home.html' %}
{% load static %}

{% block bgimage %}
<img src="{% static 'manager/images/manager.jpg' %}" alt="manager" style="width:100%;">
{% endblock %}

{% block heading %}
<h1>Manager's Page</h1>
{% endblock %}

{% block list %}
{% endblock %}

{% block content2 %} 
    <br><br>
    <div> <center>
    <a href="{% url 'managerlist' %}"><button class="btn"><i class="fas fa-bars"></i> List of Managers</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'room' %}"><button class="btn"><i class="fas fa-archway"></i> Room</button></a>&nbsp;&nbsp;<br><br></center>
    </div>

    <center>   
        <div style="background-color:rgb(42, 190, 62); height: 48px; width: 70%;">
          <h1 style="color: rgb(220, 238, 63);">Add Managers</h1><br>
        </div>
    </center>  
    <center>
        <div style="height: 600px; width: 70%; background-color: rgb(133, 106, 141);">
            <br><br>
            <form method="POST"  style="text-align: center;" enctype='multipart/form-data'>
            {% csrf_token %}
                {{form.as_p}}
                   
                <br><center><button type='sumbit' style="background-color:rgb(61, 235, 27);">CONFIRM</button></center>

            </form>
        </div>
    </center> 

    
  
    
{% endblock %}